@import './reset.css';

body {
    background: linear-gradient(#020317, #0c0217);
}

h2 {
    font-size: 30px;
}

.wrong {
    color: #ff0000;
    text-decoration: none;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/***********************
    Start screen
***********************/
.start-screen {
    animation: fade-in 1s ease-in-out;
}

.container {
    height: 100vh;
    width: 100%;
}

.play-button, .restart-button {
    width: 200px;
    height: 75px;
    font-size: 30px;
    border-radius: 6px;
    background-color: #6495ed;
    margin-top: 20px;
}

/***********************
    Game screen
***********************/

.game {
    animation: fade-in 1s ease-in-out;
}

.current-word, .player-input{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    padding: 0 7px;
    background-color: #fff;
    color: #000;
}

.current-word {
    margin-bottom: 10px;
    flex-direction: row;
    align-content: center;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.player-input {
    text-align: center;
}

.timer, .points {
    font-size: 25px;
}

/***********************
    End screen
***********************/
.leaderboard tr {
    color: #fff;
}

.leaderboard tr th {
    width: 150px;
}

.leaderboard tr td {
    text-align: center;
}

/***********************
    Animations
***********************/
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes fade-out {
    from {opacity: 100%;}
    to {opacity: 0;}
}

/***********************
    Same properties
***********************/
p, h2, button {
    color: #fff;
}

.player-input, p, table {
    font-weight: 600;
    font-size: 20px;
}